*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    width: 90%;
}

table {
    width: 100%;
    border: solid 1px #aeaeae;
}

table thead th {
    padding-block: 1rem;
    border: solid 1px #aeaeae;
    background-color: rgb(255, 140, 242);
}
.no {
    background-color: rgb(129, 6, 109);
    color: white;
}
table tbody td {
    padding-block: 0.25rem;
    border: solid 1px #aeaeae;
}
table tbody td:not(:first-child) {
    padding-block: 0.25rem;
    padding-inline: 0.3rem;
    border: solid 1px #aeaeae;
}
table tbody tr:nth-child(odd) {
    background-color: #aeaeae;
}

table tbody tr td:first-child {
    text-align: center;
}